@media (max-width: 870px) {
    header{
        padding: 20px 0px;  
    }
    header nav{
        width: 100%;
        display: grid;
        grid-template-columns:1fr;
        justify-items: center;  
    }
    .options-nav{
        display: none;
    }
    .logo-container{
        width: 292px;
        height: 48px;
    }
    .main-home{
        padding: 20px;
    }
    .presentation-container__subtitle{
        margin: 12px 0px 30px;
    }
    .CV-options{
        margin: 40px 0px;
    }
    .proyects-container img{
        width: 302px;
        height: 148px;
    }
    .experience--img{
        width:270px;
    }
    .experience--contend{
        width: 70%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 10px;
    }
    .footer-main{
        display: inline-block;
    }
    .footer-link{
        display: grid;
    }
    .main-skill-container{
        width: 70%;
    }
}

@media (min-width: 870px) and (max-width: 1200px) {
    .logo-container{
        width: 292px;
        height: 48px;
    }
    header nav{
        grid-template-columns: 1fr 2fr 1fr;
    }
    .main-skill-container{
        width: 70%;
    }
    .experience--contend{
        width: 70%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 10px;
    }
}